<!DOCTYPE html>
{% load static %}

<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MGKNZP3CRE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MGKNZP3CRE');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body dir="rtl">


    <!--navbar start-->




    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/tenten.png' %}" height="80px" width="80px">
        </div>
        <div class="tit">
            <small>دومـاً, عشرة على 10</small>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">الرئيسية</a></li>
            <li><a href="{% url 'contact' %}">التواصل</a></li>
            <li><a href="{% url 'cart_summary' %}">
                السلة (<span id="cart_quantity"> {{cart|length}}</span>)
            </a></li>
            {% if request.user.is_authenticated %}

            <li><a href="#">{{request.user.username}}</a></li>
            <li><a href="{% url 'signout' %}">خروج</a></li>
            {%else%}
            <li class="uniqe"><a href="{% url 'signin' %}">دخول</a></li>
            <li class="uniqe"><a href="{% url 'signup' %}">تسجيل</a></li>
            {%endif%}
        </ul>
    </nav>
    <!--navbar ending-->
    <!--navbar ending-->
    <div id="message-container">
        {% for m in messages %}
            <p class="messages">{{ m }}</p>
        {% endfor %}
    </div>

<!-- shipping and payment -->
<div class="shipping">
    <div class="container">
        <div class="shipping-bill">

            <div class="bills">
                <div class="promo">
                    <form method="POST" action="{% url 'billing' %}">
                        {% csrf_token %}
                        <!-- User Shipping Information -->
                        <div class="ship-forms">
                            <h2>العنوان ورقم الهاتف</h2>
                            <label>الإسم</label>
                            <input type="text" name="name" required value="{{ user_data.user.username }}" {% if user.is_authenticated %} readonly {% endif %}>

                            <label>رقم الهاتف</label>
                            <input type="number" required placeholder="01234567" name="phoneno" {% if user.is_authenticated %} readonly {% endif %} value="{{ user_data.phone_number }}">

                            <label>المنطقة</label>
                            {% if user.is_authenticated %}
                            <input type="text" name="address" required readonly value="{% if user_data.city %}{{ user_data.city.name }}{% else %}لم تحدد{% endif %}">
                            {% else %}
                            <br>
                            <select name="city" id="city">
                                {% for city in cities %}
                                <option value="{{city.id}}">{{ city.name }} - {{city.shipping_price}} د.إ</option>
                                {% endfor %}
                              </select>
                            {% endif %}
                              <br>
                            <label>العنوان</label>
                            <input type="text" name="address" required {% if user.is_authenticated %} readonly {% endif %} value="{{ user_data.address }}">

                            <!-- Pickup Option -->
                            <div class="lbel" style="margin:7px 0">
                                <label for="pickup" style="width:148px">إستلام من المحل؟</label>
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <input type="checkbox" name="pickup" value="yes" id="mjk" checked disabled>
                                {% else %}
                                    <input type="checkbox" name="pickup" value="yes" id="mjk">
                                {% endif %}
                            </div>
                            <textarea name="notes" class="ship-forms" style="border-radius:8px;border:1px solid lightgray" placeholder="اضف ملاحظاتك علي الطلب"></textarea>
                            <br>
                            <!-- Edit Shipping Details -->
                            {% if user.is_authenticated %}
                                <a href="{% url 'edit_shiping_phone' %}" style="color: rgb(212, 41, 41); font-size: 19px;">تعديل البيانات</a><br>
                            {% endif %}
                        </div>


                        <!-- Cart Products Section -->
                         <hr style="margin:5px 0" color="lightgray">
                        <h2 class="mt-2">تفاصيل طلبك</h2>
                        {% for product in cart_products %}
                            <div class="product-details">
                                <small>{{ product.name }}</small>
                                <small>
                                    x
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|stringformat:"s" %}
                                            {{ value.quantity }}
                                        {% endif %}
                                    {% endfor %}
                                </small>
                            </div>
                        {% endfor %}

                        <!-- Extras Section -->
                        <h3>الإضافات</h3>
                        {% for item in products_with_extras %}
                            <div class="extras-section">
                                <h5>الإضافات لـ "{{ item.product.name }}"</h5>
                                {% for extra in item.extras %}
                                    <div class="extra-option">
                                        <label>
                                            <input type="checkbox" name="extra__{{ item.product.id }}__{{ extra.id }}" value="{{ extra.id }}">
                                            {{ extra.name }} - ({{ extra.price }}) د.إ
                                        </label>

                                        <!-- Display all options without toggling -->
                                        <div>
                                            <label style="color:gray;font-size:15px">
                                                <input type="radio" name="apply_to__{{ item.product.id }}__{{ extra.id }}" value="one">
                                                تطبق على وجبة واحدة
                                            </label><br>
                                            <label style="color:gray;font-size:15px">
                                                <input type="radio" name="apply_to__{{ item.product.id }}__{{ extra.id }}" value="all" checked>
                                                تطبق على كل الوجبات
                                            </label><br>
                                            <label style="color:gray;font-size:15px">
                                                <input type="radio" name="apply_to__{{ item.product.id }}__{{ extra.id }}" value="specific">
                                                تطبق على كمية محددة
                                            </label><br>
                                            <!-- Quantity Input -->
                                            <label>
                                                الكمية:
                                                <input type="number" name="quantity__{{ item.product.id }}__{{ extra.id }}" min="1" max="{{ item.quantity }}" value="1" style="width: 50px;">
                                            </label>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>لا توجد إضافات</p>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <!-- Submit Button -->
                        <input type="submit"
                               style="width: 100%; background-color: rgb(34, 34, 34); color: white; font-size: 20px; text-align: center; border: none; border-radius: 8px; margin-top: 7px;"
                               value="إستمـرار">
                    </form>
                </div>
            </div>



        </div>
    </div>
</div>


<!-- shipping and payment -->





    <!--footer -->

         <!--footer start-->
         <div class="footer">
            <!--<div class="container">-->
                <div class="taking-footer">

                    <div class="taking-links">
                        <a href="#">سياسة الخصوصية</a>
                        <a href="#">تواصل معنـا </a>
                        <a href="#">الشروط والأحكام </a>
                        <a href="#"> الرئيـسية</a>
                    </div>
                    <div class="log">
                        <img src="{% static 'images/tenten.png'%}" height="80px" width="80px"><br>
                        <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small>
                      <br><small>Developed by Ahmd Babiker</small>
                  </div>
                </div>

        </div>
    <!--footer end-->
    <!--footer -->









</html>


















