<!DOCTYPE html>
{% load static %}
<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MGKNZP3CRE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MGKNZP3CRE');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ten10</title>
    <link rel="icon" href="{% static 'images/tenten.png' %}" type="image/x-icon">
</head>
<body dir="rtl">


    <!--navbar start-->


    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/tenten.png' %}" height="80px" width="80px">
        </div>
        <div class="tit">
            <small>دومـاً, عشرة على 10</small>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">الرئيسية</a></li>
            <li><a href="{% url 'contact' %}">التواصل</a></li>
            <li><a href="{% url 'cart_summary' %}">
                السلة (<span id="cart_quantity"> {{cart|length}}</span>)
            </a></li>
            {% if request.user.is_authenticated %}

            <li><a href="#">{{request.user.username}}</a></li>
            <li><a href="{% url 'signout' %}">خروج</a></li>
            {%else%}
            <li class="uniqe"><a href="{% url 'signin' %}">دخول</a></li>
            <li class="uniqe"><a href="{% url 'signup' %}">تسجيل</a></li>
            {%endif%}
        </ul>
    </nav>
    <!--navbar ending-->


    <!-- sandwiches -->
       <div class="sandwiches">
           <div class="container">
            {% if stamp_message %}
                <div class="stamp-container">
                    <div class="stamp-list">
                        <div class="stamp-message">
                            <h1>X{{remainder}}</h1><img src="{% static 'img/stamp.png' %}" alt="Stamp" class="stamp-img"><br>
                            <div class="stamp-message-text">
                                <small>   لديك {{remainder}} اختام ,بمجرد اتمامك ل10 اختام سوف تحصل علي وجبة مجانية</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if stamps %}
                <div class="stamp-container">
                    <h3>الاختام الذهبية </h3>
                    <div class="stamp-list">
                        {% for stamp in stamps %}
                            <div class="stamp-item">
                                <img src="{% static 'img/stamp2.png' %}" alt="Stamp" class="stamp-img">
                                <div class="stamp-text">
                                    <span>🏷️ ختم #{{ forloop.counter }}</span>
                                    <small>تم الحصول عليه في: {{ stamp.created_at|date:"Y-m-d" }}</small><br>
                                    <small>يمكنك استخدامه لطلب وجبة مجانية لا تزيد قيمتها عن 50 درهماً</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p style="text-align:center; color: gray;">ليس لديك أي ختم ذهبي حتى الآن</p>
            {% endif %}
               <h2> الطلبات السـابقة</h2>
               <div class="taking-snadwiches">

                {% if user_orders %}
                {% for product in user_orders %}
                    <div class="sand-product">
                        <a href="{% url 'meal_detail' product.product.slug %}">
                        <img src="{{product.product.image.url}}">
                        <div class="description">
                            <h4>{{product.product.name}} </h4>
                            <small class="dr">{{product.product.tag}}</small><br>
                            <p>رقم الطلب : {{product.order.id}}</p>
                            <small>تاريخ الطلب : {{product.order.date_ordered}}

                            </small><br>

                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% else%}
                <h5 style="margin: 40px auto;text-align: center;">ليس لديك طلبـات سابقة</h5>

                {% endif %}
               </div>
           </div>
       </div>
    <!-- sandwiches -->










    <!--footer -->

         <!--footer start-->
         <div class="footer">
            <!--<div class="container">-->
                <div class="taking-footer">

                    <div class="taking-links">
                        <a href="#">سياسة الخصوصية</a>
                        <a href="#">تواصل معنـا </a>
                        <a href="#">الشروط والأحكام </a>
                        <a href="#"> الرئيـسية</a>
                    </div>
                    <div class="log">
                      <img src="{% static 'images/tenten.png' %}" height="75px" width="75px"><br>
                      <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small>
                      <br><small>Developed by Ahmd Babiker</small>
                  </div>
                </div>

        </div>
    <!--footer end-->
    <!--footer -->





    <!-- footer navbar-->
    <div class="foooter-nav">
        <div class="container">
            <div class="links">
                <div class="link-tab">
                    <a href="{% url 'home' %}" style="color: black;">
                    <i class="fas fa-home"></i><br>
                    <small>الرئيسية </small>
                    </a>
                </div>

                <div class="link-tab">
                    <a href="{% url 'contact' %}" style="color: black;">
                    <i class="fas fa-envelope"></i><br>
                    <small>التواصل </small>
                    </a>
                </div>


                <div class="link-tab">

                    {% if request.user.is_authenticated%}
                    <a href="{% url 'edit_shiping_phone' %}" style="color:black">
                    <i class="fas fa-user"></i><br>
                    <small>{{user.username}}</small>
                    </a>
                    {% else %}
                    <a href="{% url 'signin' %}"  style="color: black;">

                    <small>إنشاء حساب | دخول </small>
                     </a>
                    {% endif%}
                </div>


                {% if request.user.is_authenticated %}

                <div class="link-tab">
                    <a href="{% url 'myorders' request.user.id %}" style="color: black;">
                    <i class="fas fa-shopping-bag"></i><br>
                    <small>الطلبات السابقة </small>
                    </a>
                </div>


                <div class="link-tab">
                    <a href="{% url 'signout' %}" style="color: rgb(105, 104, 104);">
                    <i class="fas fa-sign-out-alt"></i><br>
                    <small>خروج </small>
                    </a>
                </div>
                {% endif%}
                <div class="link-tab">
                    <a href="{% url 'cart_summary' %}" style="color: black;">
                    <i class="fas fa-shopping-cart"></i><br>
                    <small>
                        السلة </span>
                    </a> </small>
                </div>

            </div>
        </div>
    </div>



<!-- footer navbar-->

























<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    // Get the footer navigation element
var footerNav = document.querySelector('.foooter-nav');

// Function to toggle visibility based on scroll position
function toggleFooterNav() {
    if (window.scrollY > 100) { // Adjust scroll threshold as needed
        footerNav.classList.add('show');
    } else {
        footerNav.classList.remove('show');
    }
}

// Listen for scroll events and toggle footer navigation visibility
window.addEventListener('scroll', toggleFooterNav);
</script>

<script>
    // Function to show messages for 3 seconds
    function showMessages() {
        const messages = document.querySelectorAll('.messages');
        messages.forEach((msg, index) => {
            // Show the message after a delay
            setTimeout(() => {
                msg.style.display = 'block'; // Show the message
                // Hide the message after 3 seconds
                setTimeout(() => {
                    msg.style.display = 'none'; // Hide after 3 seconds
                }, 3000);
            }, index * 3000); // Stagger messages by 3 seconds
        });
    }

    // Call the function to display messages
    showMessages();
</script>





</body>
</html>

