<!DOCTYPE html>
{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>تفاصيل الطلب</title>
</head>
<body dir="rtl">

<!-- Navbar -->
<nav class="navbar">
    <div class="logo">
        <img src="{% static 'images/tenten.png' %}" height="80px" width="80px" alt="Logo">
    </div>
    <div class="tit">
        <small>دومـاً, عشرة على 10</small>
    </div>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-list">
        <li><a href="#">الرئيسية</a></li>
        <li><a href="#">التواصل</a></li>
        <li><a href="{% url 'cart_summary' %}">
            السلة (<span id="cart_quantity">{{ cart|length }}</span>)
        </a></li>
        {% if request.user.is_authenticated %}
            <li><a href="#">{{ request.user.username }}</a></li>
            <li><a href="{% url 'signout' %}">خروج</a></li>
        {% else %}
            <li class="unique"><a href="{% url 'signin' %}">دخول</a></li>
            <li class="unique"><a href="{% url 'signup' %}">تسجيل</a></li>
        {% endif %}
    </ul>
</nav>

<!-- Order Details Section -->
<div class="sandwiches">
    <div class="container">
        <h3>بيانات العميل :</h3>
        <p>رقم الطلب : {{ order.id }}</p>
        <p>اسم المستخدم : 
            {% if order.user %}
                {{ order.user }}
            {% else %}
                {{ order.unknown_user }} (مستخدم غير مسجل على النظام)
            {% endif %}
        </p>
        {% if order.user.is_superuser or order.user.is_staff %}
            <p>طلب سيارة</p>
        {% endif %}
        <p>العنوان : {{ order.shipping_address }}</p>
        <p>المبلغ المستحق : {{ total_amount }} د.إ</p>
        <p>رقم الهاتف : {{ order.phone_number }}</p>
        <p>إستلام من المحل ؟
            {% if order.pickup %}
                نعم
            {% else %}
                لا, توصيل للمنزل
            {% endif %}
        </p>

        <div class="taking-sandwiches" style="display:flex;flex-wrap:wrap;justify-content:center">
            {% for item in order_item %}
                <div class="order-item" style="border:none;text-align:center;box-shadow:0 2px 6px rgb(0 0 0 / 15%);margin:2px 3px">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="150" height="150" />
                    <h3>{{ item.product.name }}</h3>
                    <p>الكمية: {{ item.quantity }}</p>
                    <p>السعر: {{ item.price }} د.إ</p>

                    {% if item.extras %}
                        <ul style="list-style-type: none;">
                            {% for extra in item.extras %}
                                <li>
                                    {{ extra.name }} - {{ extra.price }} د.إ
                                    {% if extra.apply_to_all == "نعم" %}
                                        (تم تطبيقها على جميع الوجبات)
                                    {% elif extra.specific_quantity %}
                                        (تم تطبيقها على {{ extra.specific_quantity }} وجبة)
                                    {% else %}
                                        (تم تطبيقها على وجبة واحدة)
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>لا يوجد إضافات.</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>



<!-- Footer Section -->
<div class="footer">
    <div class="taking-footer">
        <div class="taking-links">
            <a href="#">سياسة الخصوصية</a>
            <a href="#">تواصل معنا</a>
            <a href="#">الشروط والأحكام</a>
            <a href="#">الرئيسية</a>
        </div>
        <div class="log">
            <img src="{% static 'images/tenten.png' %}" height="75px" width="75px" alt="Footer Logo"><br>
            <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small><br>
            <small>Developed by Ahmd Babiker</small>
        </div>
    </div>
</div>




<!-- Footer Navbar 
<div class="footer-nav">
    <div class="container">
        <div class="links">
            <div class="link-tab">
                <i class="fas fa-home"></i><br>
                <small>الرئيسية</small>
            </div>
            <div class="link-tab">
                <i class="fas fa-shopping-bag"></i><br>
                <small>طلباتي</small>
            </div>
            <div class="link-tab">
                <i class="fas fa-user"></i><br>
                {% if request.user.is_authenticated %}
                    <small>{{ user.username }}</small>
                {% else %}
                    <a href="{% url 'signin' %}" style="color: rgb(105, 104, 104);"><small>إنشاء حساب | دخول</small></a>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
                <div class="link-tab">
                    <a href="{% url 'signout' %}" style="color: rgb(105, 104, 104);">
                        <i class="fas fa-sign-out-alt"></i><br>
                        <small>خروج</small>
                    </a>
                </div>
            {% endif %}
            <div class="link-tab">
                <i class="fas fa-shopping-cart"></i><br>
                <small><a href="{% url 'cart_summary' %}" style="color: black;">السلة (<span id="cart_quantity">{{ cart|length }}</span>)</a></small>
            </div>
        </div>
    </div>
</div> -->

</body>
</html>
