<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ten10</title>
    <link rel="icon" href="{% static 'images/tenten.png' %}" type="image/x-icon">
</head>
<body dir="rtl">


    <!--navbar start-->


     <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/tenten.png' %}" height="80px" width="80px">
        </div>
        <div class="tit">
            <small>دومـاً, عشرة على 10</small>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">الرئيسية</a></li>
            <li><a href="{% url 'contact' %}">التواصل</a></li>
            <li><a href="{% url 'cart_summary' %}">
                السلة (<span id="cart_quantity"> {{cart|length}}</span>)
            </a></li>
            {% if request.user.is_authenticated %}

            <li><a href="{% url 'edit_shiping_phone' %}">{{request.user.username}}</a></li>
            <li><a href="{% url 'signout' %}">خروج</a></li>
            <li><a href="{% url 'myorders' request.user.id %}">طلباتي</a></li>
            {%else%}
            <li class="uniqe"><a href="{% url 'signin' %}">دخول</a></li>
            <li class="uniqe"><a href="{% url 'signup' %}">تسجيل</a></li>
            {%endif%}
        </ul>
    </nav>
    <!--navbar ending-->



    <div id="message-container">
        {% for m in messages %}
            <p class="messages">{{ m }}</p>
        {% endfor %}
    </div>

 <!--login -->
<div class="login" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);width:100%">
    <div class="container">
        <h2> إنشـاء حسـاب</h2>
        <div class="title-form">
            <form method="POST">
                {% csrf_token %}
                <label>إسم المستخدم</label><br>
                <input type="text" name="username"><br>
                <label>كلمة المرور</label><br>
                <input type="password" name="password1"><br>
                <label>تأكيد كلمة المرور </label><br>
                <input type="password" name="password2"><br>
                <input type="submit" value="إنشاء" class="login">
            </form>
        </div>
    </div>
</div>


<!--lgoin-->



         <!--footer start-->

    <!--footer end-->
    <!--footer -->





    <script>
        // Function to show messages for 3 seconds
        function showMessages() {
            const messages = document.querySelectorAll('.messages');
            messages.forEach((msg, index) => {
                // Show the message after a delay
                setTimeout(() => {
                    msg.style.display = 'block'; // Show the message
                    // Hide the message after 3 seconds
                    setTimeout(() => {
                        msg.style.display = 'none'; // Hide after 3 seconds
                    }, 3000);
                }, index * 3000); // Stagger messages by 3 seconds
            });
        }

        // Call the function to display messages
        showMessages();
    </script>


</body>
</html>
